*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto' , sans-serif ;
}

.wrapper{
  width:630px;
  min-height:600px;
  box-shadow: 0 0 10px 2px black;
  margin:auto;
}
